.navbar{ display: flex; justify-content: space-between; align-items: center; 
    background-color: #343A40; width: 100vw; margin-left: 0;color: white; font-size:18px;}
    #links{background-color:#343a40; display: none; color: white;}
    a{text-decoration: none; padding: 5px; color: white;}
       .hamberger{padding: 10px;font-size:20px ; color: white;}
        .nav-link{font-size: 18px;padding: 5px;}
    label {font-size: 18px;}
    .navbar-brand {margin-left: 4px; font-family: Arial, Helvetica, sans-serif; }
    .body{ background-color: aqua;}
    .footer1{  display: flex; justify-content: space-around; background-color:#343A40; 
        width: 100vw;font-size: 18px; text-decoration: none; color:white; }
    .section {text-align: center;}